.Product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &_Img {
        width: 30vw;
        height: auto;
    }
    &_Desc {
        margin-top: 2%;
        &_Para {
            width: 80%;
            padding-bottom: 10%;
        }
    }
}
