* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
    &:hover {
        color: maroon;
    }
}

body {
    background-color: burlywood;
}

.Home {
    &_grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

h1 {
    text-align: center;
}
